<%# <input class="" type="checkbox" id="check"> %>

<%# <label class="hidden" for="check">
  <i class="left-1 cursor-pointer decoration-white rounded-3xl m-4 text-xl bg-slate-950 h-11 w-11 text-center leading-10 transition " id="btn"></i>
  <i class="left-1 cursor-pointer decoration-white rounded-3xl m-4 text-xl bg-slate-950 h-11 w-11 text-center leading-10 transition opacity-0 hidden" id="cancel"></i>
</label> %>

<a class="bg-gray-200 w-16 h-full"> Links</a>

<div class="h-full">

  <div class="w-60 h-full bg-slate-200 transition ">
    
    <%# <header class="text-xl bg-white leading-10   font-serif">Menu</header> %>
      
      <a href="#" class="block  w-full bg-gray-200 leading-10 pl-8 border-2   font-sans decoration-0 transition text-xs   ">
        <i class="fas fa-qrcode"></i>
        <span class="tracking-widest uppercase text-black">Visão Geral</span>
      </a>
      <a href="#" class="block  w-full bg-gray-200 leading-10 pl-8 border-2   font-sans decoration-0 transition text-xs   ">
        <i class="fas fa-link"></i>
        <span class="tracking-widest uppercase text-black">Quadro de Horários</span>
      </a>
    
      <a href="#" class="block  w-full bg-gray-200 leading-10 pl-8 border-2   font-sans decoration-0 transition text-xs   ">
        <i class="fas fa-edit"></i>
        <span class="tracking-widest uppercase text-black">Matrículas</span>
      </a>

      <a href="#" class="block  w-full bg-gray-200 leading-10 pl-8 border-2   font-sans decoration-0 transition text-xs   ">
        <i class="far fa-question-circle"></i>
        <span class="tracking-widest uppercase text-black">Administração</span>
      </a>
      
      <a href="#" class="block  w-full bg-gray-200 leading-10 pl-8 border-2   font-sans decoration-0 transition text-xs   ">
        <i class="fas fa-sliders-h"></i>
        <span class="tracking-widest uppercase text-black">Organização</span>
      </a>
      
      <a href="#" class="block  w-full bg-gray-200 leading-10 pl-8 border-2   font-sans decoration-0 transition  text-xs   ">
        <i class="far fa-envelope"></i>
        <span class="tracking-widest uppercase text-black">Vendas</span>
      </a>

  </div>
</div>
</body>



